# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
Build/
Achelous/Build/

Pods/
Achelous/Pods/


Achelous/Podfile.local
Podfile.local

Achelous/VivaMini.xcworkspace/xcshareddata
Achelous.xcworkspace/xcshareddata
Achelous/Achelous.xcworkspace/xcuserdata
Achelous.xcworkspace/xcuserdata

